* {
    padding: 0;
    margin: 0;
}

.container {
    width: min (90%, 800px);
    margin: 0 auto;
}

h1 {
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    align-items: center;
}